<a href="https://colab.research.google.com/github/lilianaochoae/VENTAS_FARMACEUTICAS_ATC/blob/main/DIAS_FINAL_VENTAS_FARMACEUTICAS.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

IMPORTACIÓN DE LIBRERÍA

In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline

CARGADE BASE DE DATOS

In [2]:
columns_dtypes = {'Weekday Name' : 'category',
                  'M01AB' : 'category',
                  'M01AE' : 'category',
                  'N02BA' : 'category',
                  'N02BE' : 'category',
                  'N05B' : 'category',
                  'N05C' : 'category',
                  'R03' : 'category',
                  'R06' : 'category'}

In [3]:
Bd = pd.read_csv("salesdaily1.csv", sep=';', encoding='latin-1', dtype=columns_dtypes)
Bd.head()

  Weekday Name M01AB M01AE N02BA  N02BE N05B N05C R03 R06  dia  mes   año
0     Thursday     0  3.67   3.4   32.4    7    0   0   2    2    1  2014
1       Friday     8     4   4.4   50.6   16    0  20   4    3    1  2014
2     Saturday     2     1   6.5  61.85   10    0   9   1    4    1  2014
3       Sunday     4     3     7   41.1    8    0   3   0    5    1  2014
4       Monday     5     1   4.5   21.7   16    2   6   2    6    1  2014

In [4]:
print (Bd.shape)

(2106, 12)

El dataset contiene 50532 observaciones y 13 columnas

PORCENTAJE DE VALORES FALTANTES EN COLUMNAS

In [5]:
k = Bd.isna().sum()
((round(k[k!=0]/Bd.shape[0], 2) * 100).astype(int)).astype(str).str.cat(['' for i in range(len(k[k!=0]))], sep='%')

Series([], dtype: object)

In [6]:
base = Bd

LIMPIEZA DE LOS DATOS

In [7]:
#HotEncoding en la variable Weekday Name
dummy_WeekdayName = pd.get_dummies(Bd["Weekday Name"], prefix = "Weekday Name")
dummy_WeekdayName.head()

#Agregar el HotEncoding de DIA a la BD
Bd = Bd.drop(["Weekday Name"], axis = 1)
Bd = pd.concat([Bd,dummy_WeekdayName], axis = 1)
Bd.head()

,M01AB,M01AE,N02BA,N02BE,N05B,N05C,R03,R06,dia,mes,año,Weekday Name_Friday,Weekday Name_Monday,Weekday Name_Saturday,Weekday Name_Sunday,Weekday Name_Thursday,Weekday Name_Tuesday,Weekday Name_Wednesday
0,0,3.67,3.4,32.4,7,0,0,2,2,1,2014,0,0,0,0,1,0,0
1,8,4,4.4,50.6,16,0,20,4,3,1,2014,1,0,0,0,0,0,0
2,2,1,6.5,61.85,10,0,9,1,4,1,2014,0,0,1,0,0,0,0
3,4,3,7,41.1,8,0,3,0,5,1,2014,0,0,0,1,0,0,0
4,5,1,4.5,21.7,16,2,6,2,6,1,2014,0,1,0,0,0,0,0

In [9]:
#HotEncoding en la variable dia
dummy_dia = pd.get_dummies(Bd["dia"], prefix = "dia")
dummy_dia.head()

#Agregar el HotEncoding de DIA a la BD
Bd = Bd.drop(["dia"], axis = 1)
Bd = pd.concat([Bd,dummy_dia], axis = 1)
Bd.head()

KeyError: ignored

In [10]:
#HotEncoding en la variable mes	
dummy_mes	= pd.get_dummies(Bd["mes"], prefix = "mes")
dummy_mes.head()

#Agregar el HotEncoding de mes a la BD
Bd = Bd.drop(["mes"], axis = 1)
Bd = pd.concat([Bd,dummy_mes], axis = 1)
Bd.head()

,M01AB,M01AE,N02BA,N02BE,N05B,N05C,R03,R06,año,Weekday Name_Friday,...,mes_3,mes_4,mes_5,mes_6,mes_7,mes_8,mes_9,mes_10,mes_11,mes_12
0,0,3.67,3.4,32.4,7,0,0,2,2014,0,...,0,0,0,0,0,0,0,0,0,0
1,8,4,4.4,50.6,16,0,20,4,2014,1,...,0,0,0,0,0,0,0,0,0,0
2,2,1,6.5,61.85,10,0,9,1,2014,0,...,0,0,0,0,0,0,0,0,0,0
3,4,3,7,41.1,8,0,3,0,2014,0,...,0,0,0,0,0,0,0,0,0,0
4,5,1,4.5,21.7,16,2,6,2,2014,0,...,0,0,0,0,0,0,0,0,0,0

In [11]:
#HotEncoding en la variable año	
dummy_año	= pd.get_dummies(Bd["año"], prefix = "año")
dummy_año.head()

#Agregar el HotEncoding de mes a la BD
Bd = Bd.drop(["año"], axis = 1)
Bd = pd.concat([Bd,dummy_año], axis = 1)
Bd.head()

,M01AB,M01AE,N02BA,N02BE,N05B,N05C,R03,R06,Weekday Name_Friday,Weekday Name_Monday,...,mes_9,mes_10,mes_11,mes_12,año_2014,año_2015,año_2016,año_2017,año_2018,año_2019
0,0,3.67,3.4,32.4,7,0,0,2,0,0,...,0,0,0,0,1,0,0,0,0,0
1,8,4,4.4,50.6,16,0,20,4,1,0,...,0,0,0,0,1,0,0,0,0,0
2,2,1,6.5,61.85,10,0,9,1,0,0,...,0,0,0,0,1,0,0,0,0,0
3,4,3,7,41.1,8,0,3,0,0,0,...,0,0,0,0,1,0,0,0,0,0
4,5,1,4.5,21.7,16,2,6,2,0,1,...,0,0,0,0,1,0,0,0,0,0

VALIDACIÓN DE DATOS

Generalmente, cuando trabajemos con algoritmos de clustering, dado que son algoritmos basados en distancias, va a ser fundamental escalar los datos para prescindir de las unidades de medida de las diferentes features. A continuación, escalamos los datos numéricos:

In [14]:
from sklearn.preprocessing import scale, MinMaxScaler

# scale
scaled_1 = scale(Bd)

# MinMaxScaler
scaler = MinMaxScaler()
scaled_2 = scaler.fit_transform(Bd)

# Muestro las primeras 5 filas escaladas con scale
print("Escalado con scale:")
print(scaled_1[1:6,])

# Muestro las primeras 5 filas escaladas con Min-Max
print("\nEscalado con Min-Max:")
print(scaled_2[1:6,])

ValueError: ignored

ALGORITMO K-MEANS

In [ ]:
from sklearn.cluster import KMeans

km = KMeans(
    n_clusters=4, init='random',
    n_init=6, random_state=0
)

In [ ]:
y_km = km.fit_predict(scaled_1)

In [ ]:
print(y_km)

GRAFICAR

Para graficar los clústeres, utilizamos Matplotlib. La mejor forma de ver como se comportan los datos es con un gráfico de dispersión (scatter)

In [ ]:
import matplotlib.pyplot as plt

#configuro el tamaño del grafico final
plt.figure(figsize=(22,13))

#scatter del primer cluster
plt.scatter(
    scaled_1[y_km == 2, 0], scaled_1[y_km == 2, 3],
    s=50, c='lightgreen',
    marker='s', edgecolor='black',
    label='cluster 1'
)
#scatter del segundo cluster
plt.scatter(
    scaled_1[y_km == 1, 6], scaled_1[y_km == 1, 2],
    s=50, c='orange',
    marker='o', edgecolor='black',
    label='cluster 2'
)
#scatter del tercer cluster
plt.scatter(
    scaled_1[y_km == 4, 7], scaled_1[y_km == 4, 7],
    s=50, c='lightblue',
    marker='v', edgecolor='black',
    label='cluster 3'
)
#scatter del cuarto cluster
plt.scatter(
    scaled_1[y_km == 3, 5], scaled_1[y_km == 3, 6],
    s=50, c='green',
    marker='o', edgecolor='black',
    label='cluster 4'
)
#scatter del quinto cluster
plt.scatter(
    scaled_1[y_km == 1, 3], scaled_1[y_km == 1, 4],
    s=50, c='red',
    marker='o', edgecolor='black',
    label='cluster 5'
)
#scatter del sexto cluster
plt.scatter(
    scaled_1[y_km == 4, 6], scaled_1[y_km == 4, 6],
    s=50, c='purple',
    marker='o', edgecolor='black',
    label='cluster 6'
)

#scatter del septimo cluster
plt.scatter(
    scaled_1[y_km == 6, 4], scaled_1[y_km == 4, 6],
    s=50, c='purple',
    marker='o', edgecolor='black',
    label='cluster 7'
)

#scatter del sexto cluster
plt.scatter(
    scaled_1[y_km == 6, 1], scaled_1[y_km == 5, 6],
    s=50, c='purple',
    marker='o', edgecolor='black',
    label='cluster 8'
)


#scatter del los centroides
plt.scatter(
    km.cluster_centers_[:, 0], km.cluster_centers_[:, 1],
    s=250, marker='*',
    c='red', edgecolor='black',
    label='centroides'
)
#le pongo la leyenda
plt.legend(scatterpoints=1)
#hace una grilla en el grafico
plt.grid()
#lo imprime en pantalla
plt.show()

MÉTRICAS DE EVALUACIÓN


El método de Elbow consiste básicamente en verificar la evolución de la suma de los cuadrados del error para varios valores de K y verificar cual es el que brinda un mejor agrupamiento.

In [ ]:
# Se corre el algoritmo con K entre 2 y 10 y se va guardando el error para luego graficarlo.
sse = []
list_k = list(range(1, 10))

for k in list_k:
    km = KMeans(n_clusters=k)
    km.fit(scaled_1)
    sse.append(km.inertia_)

# Grafico el SSE por K
plt.figure(figsize=(6, 6))
plt.plot(list_k, sse, '-o')
plt.xlabel(r'Cantidad de clusters *k*')
plt.ylabel('SSE');

In [ ]:
clases = km.labels_

In [ ]:
clases.shape

In [ ]:
print(clases)

ALGORITMO DE CLASIFICACIÓN

In [ ]:
from sklearn.model_selection import train_test_split

In [ ]:
datos_Bd_variables = Bd

In [ ]:
X_entrenamiento, X_prueba, y_entrenamiento, y_prueba = train_test_split(datos_Bd_variables, clases, random_state=1)

In [ ]:
print("Tamaño de los datos de entrenamiento = ", X_entrenamiento.shape)
print("Tamaño de los datos de prueba = ", X_prueba.shape)
print("Tamaño del vector de clases de entrenamiento = " , y_entrenamiento.shape)
print("Tamaño del vector de clases de prueba = ", y_prueba.shape)

In [ ]:
# Cargar librerias
from sklearn.ensemble import AdaBoostClassifier
# Importar Clasificador de Vector de Soporte
from sklearn.svm import SVC
# Importar métricas scikit-learn para calculos exactos
from sklearn import metrics

In [ ]:
# Crear clasificador base
svc = SVC(probability=True, kernel='linear')

# Crear objeto de clasificación AdaBoost
abc = AdaBoostClassifier(n_estimators=2500,learning_rate=0.001)

# Clasificador de entrenamiento AdaBoost
model = abc.fit(X_entrenamiento, y_entrenamiento)

# Predicción de la respuesta para la bd de prueba
y_pred = model.predict(X_prueba)

# Exactitud del modelo, qué tan correcto es el clasificador?
print("Accuracy:",metrics.accuracy_score(y_prueba, y_pred))